{% extends 'base.html' %}
{% block content %}
<div class="text-background">
  <h2 style="font-size: 32px; font-weight: 700; margin-bottom: 20px;">À propos de MABI CS</h2>
  <p style="font-size: 18px; line-height: 1.6;">
    MABI CS est une application web innovante conçue pour vous aider à protéger vos sites web et liens contre les menaces et vulnérabilités.
    <br><br>
    Grâce à notre technologie avancée de détection basée sur VirusTotal et notre interface simple, vous pouvez facilement vérifier la sécurité de n'importe quel lien.
    MABI CS est votre partenaire de confiance dans la lutte contre les cybermenaces.  
    Notre application web vous permet d'analyser en profondeur vos liens et sites web afin d’identifier rapidement les vulnérabilités et protéger vos données.  
    Sécurité, simplicité et performance sont au cœur de notre engagement pour vous offrir une expérience fiable et intuitive.
    <br><br>
    Notre mission est de vous offrir un outil fiable, accessible et performant pour garantir votre tranquillité d'esprit sur internet.
    <br><br>
    <strong>développée par Barthélemy Mabi.</strong>
  </p>
</div>
{% endblock %}